.Rproj.user
.Rhistory
.RData
.Ruserdata
SantiagoData Analysis.Rproj
Santiago Data Analysis.Rproj
test
Santiago-R-Plots
Santiago Data Analysis $ git rm --cached Santiago Data Analysis.Rproj rm Santiago Data Analysis.Rproj $ git commit -m Start ignoring Santiago Data Analysis.Rproj
Santiago Data Analysis
